            * {
                margin: 0;
                padding: 0;
            }
            
            .container-fluid {
                background-color: aqua;
            }
            
            .row {
                background-color: #3e7676;
            }
            
            .container {
                background-color: #173188;
                margin-top: 5vh;
                height:90vh;
            }
            
            .col-1,
            .col-2,
            .col-3,
            .col-4,
            .col-5,
            .col-6,
            .col-7,
            .col-8,
            .col-9,
            .col-10,
            .col-11,
            .col-12 {
                /* background-color: #ff000093; */
            }
            
            /* .col-md-1, .col-md-2, .col-md-3,.col-md-4, .col-md-5,.col-md-6,.col-md-7, .col-md-8,.col-md-9,  .col-md-10,.col-md-11 { background-color: #1eff00b9; } */
            
            .profile {
                width: 50px;
                padding: 5px;
            }
            
            .icon {
                font-size: 90%;
                color:#373535;
            }
            .border-left{ border-left:1px solid gray}
            .border-bottom{ border-left:1px solid gray}

         p{margin-bottom: 0rem;}
.smal-text{font-size: 10px;}
.name{margin-left: 10px;}

hr{padding: 0px;
margin: 0px;}
.scroll{overflow: scroll;}
.hidden{overflow: hidden;}
.vh-7{height:7vh}
.vh-5{height:5vh}
.vh-88{height:88vh}
.vh-90{height:90vh}
.bgi{background-image:url(images/whatsapp-background.jpg) ;}
            @media(max-width:767px){.md{display: none !important;}




            @media(max-width:574px){.sm{display: none !important;}
            @media(max-width:992px){.lg{display: none !important;}



